*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
}

.container-top{
    height: 150px;
    background-color: #029787;
}

.container-bottom{
    background-color: #d7dbd7;
    height: calc(100vh - 150px);
}

.chat-container{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100vh - 75px);
    width: calc(100% - 250px);
}

img{
    width: 50px;
    border-radius: 50%;
}

.contacts{
    display: flex;
    align-items: center;
}

.contacts p{
    font-weight: bold;
    margin-left: 15px;
}

/* -------------- SIDEBAR --------------- */
/* -------------- From top to bottom ------------- */

.sidebar{
    width: 350px;
    height: 100%;
}

.sidebar-top{
    width: 350px;
}

.sidebar-top {
    position: fixed;
    height: 75px;
    background-color: #ebebea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.sidebar-top>h5{
    justify-self: flex-start;
}

.sidebar-top i,
.main-top i{
    margin: 0 5px;
    cursor: pointer;
}

.notify{
    background-color: #8edafc;
    padding: 15px;
    display: flex;
    align-items: center;
}

.notify .icon{
    margin-right: 15px;
    background-color: white;
    color: #8edafc;
    padding: 10px;
    border-radius: 50%;
}

.notify span{
    text-decoration: underline;
    cursor: pointer;
}

.sidebar input{
    width: calc(100% - 30px);
    height: 30px;
    margin: 5px 15px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.sidebar-bottom{
    padding-top: 75px;
    background-color: #fbfafa;
    height: 100%;
}

.sidebar-bottom .contacts{
    padding: 15px 15px;
    cursor: pointer;
}

.sidebar-bottom .contacts:hover{
    background-color: #e9eaeb;
}

.sidebar-contacts{
    overflow-x: auto;
}

/* -------------- MAIN ------------- */
/* -------------- From top to bottom ------------- */

.main{
    flex-grow: 1;
    height: 100%;
    position: relative;
}

.main-top{
    margin-right: 0px;
    height: 75px;
    background-color: #ebebea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.main-top span{
    color: grey;
    font-size: 12px;
    margin-left: 15px;
}

.chat{
    background: url(../img/mine.jpg);
    height: calc(100% - 125px);
    overflow-x: auto;
}

.message{
    display: flex;
    position: relative;
}

.message-text{
    display: flex;
}

.message-text i{
    margin-left: 15px;
    cursor: pointer;
}

.hidden-menu{
    position: absolute;
    top: 50px;
    background-color: white;
    padding: 5px;
    z-index: 1000;
    border-radius: 7px;
}

.hidden-menu p{
    cursor: pointer;
    padding: 5px;
}

.hidden-menu p:first-child{
    border-radius: 7px 7px 0 0;
}

.hidden-menu p:last-child{
    border-radius: 0 0 7px 7px;
}

.hidden-menu p:hover{
    background-color: #e9eaeb;
}

.sent{
    margin: 10px 10px 10px auto;
    background-color: #d5f9ba;
    border-radius: 7px 0px 7px 7px;
    width: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.received{
    background-color: #ffffff;
    border-radius: 0 7px 7px;
    width: auto;
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.sent span,
.received span{
    font-size: 10px;
    color: grey;
}

.sent span{
    margin: 0 0 0 auto;
}

.received span{
    margin: 0 0 auto 0;
}

.main-bottom{
    background-color: rgba(200, 200, 200, 0.5);
    backdrop-filter: blur(50px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    padding: 0 15px;
}

.main-bottom input{
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 80%;
    padding: 5px;
}

.main-bottom div{
    flex-grow: 1;
    text-align: center;
}

.main-bottom i{
    cursor: pointer;
}
